<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head> 
<link rel="stylesheet" th:href="@{/css/home.css}"/>
<meta name="viewport" content="width=device-width,initial-scale=1">
  

<title>E Shopping Zone</title>
</head>
    
<body >
    <div class="fixed-header">
        <div class="container">
            
            <nav>
                <a> <span class="logo"> E-ShoppingZone</span></a>
                <a href="getAllProducts">Home</a>
                <a th:href="'/web/getcart/'+${details}">Cart</a>
                <a th:href="'/web/getTodaysOrders/'+${details}">Order</a>
                <a href="#">Services</a>
                <a th:text="${details}" th:href="'user/'+${details}">login</a>
            </nav>
        </div>
    </div>
    
    <div class="contant">
				<div class="card" th:each="list : ${list}">
					<img class="cardImg" th:src="@{'/image/'+${list.image}}"
						alt="Card image cap">
					<div class="cardBody">
						<h5 class="card-title" th:text="${list.productName}"></h5>
						<h6 class="price" th:text="'$'+${list.price}">Price: </h6>
						<h6 class="category" th:text="${list.productType}">Category:</h6>
						<div class="add">
						<form method="post" th:action="'/web/additem/'+${details}+'/'+${list.productId}">
							<button type="submit">Add to cart</button>
						</form>
						</div>
						
					</div>
				</div>
			</div>    
    <div class="fixed-footer">
        <div class="container">Copyright &copy; 2016 Your Company</div>        
    </div>
</body>
</html>