<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<link rel="stylesheet" th:href="@{/css/css/loginStyle.css}"/>
</head>
<body>
    <h5 class="header" th:text="${error}">Default</h5>

<form th:action="'/user/update/'+${details}" style="border:1px solid #ccc" class="center" method="post" th:object="${user}"> 
  <div class="container">
    <h1 align="center">Edit Profile</h1>
    <p align="center">Please fill in this form to create an account.</p>
    <hr>

    <input type="hidden" th:value="${user.userName}" name="userName" required>
    

    <label for="fullName"><b>Full-Name</b></label>
    <input type="text" th:value="${user.fullName}" name="fullName" required>
    
    <label for="email"><b>Email</b></label>
    <input type="email" th:value="${user.email}" name="email" required>
    
    <label for="gender"><b>Gender</b></label>
    <select id="roleDropMenu" name="gender">
    	<option th:value="${user.gender}" th:text="${user.gender}"></option>
        <option value="Male">male</option>
        <option value="Female">female</option>
        <option value="Other">other</option>      
    </select>
    <br>
    <label for="dob"><b>Date of Birth</b></label>
    <input type="date" th:value="${user.dob}"name ="dob" required>
    
    <label for="role"><b>Select role</b></label>&nbsp;&nbsp;&nbsp;&nbsp;
    <select id="roleDropMenu" name="role">
      <option value="user">User</option>
      <option value="admin">Admin</option>
    </select>

	<label for="mobile_no"><b>Mobile No</b></label>
    <input type="text" th:value="${user.mobile_no}" name="mobile_no" required>
    
    <label for="password"><b>Password</b></label>
    <input type="password" name="password" required>
    <br><br>
    <p><b>Address</b></p>
    <hr>
    <label for="address.house_no"><b>House No</b></label>
    <input type="text" th:value="${user.address.house_no}" name="address.house_no" required>
    
    <label for="address.street_name"><b>Street</b></label>
    <input type="text" th:value="${user.address.street_name}" name="address.street_name" required>
    
    <label for="address.colony_name"><b>Colony</b></label>
    <input type="text" th:value="${user.address.colony_name}" name="address.colony_name" required>
    
    <label for="address.city"><b>City</b></label>
    <input type="text" th:value="${user.address.city}" name="address.city" required>
    
    <label for="address.state"><b>State</b></label>
    <input type="text" th:value="${user.address.state}" name="address.state" required>
    
    <label for="address.pincode"><b>Pin Code</b></label>
    <input type="text" th:value="${user.address.pincode}" name="address.pincode" required>
    
    

<!--     <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required> -->
    
    

    <div class="clearfix">
      <button type="submit" class="signupbtn">update</button>
    </div>
  </div>
</form>

</body>
</html>